.header {
    height: 34vw;
    margin: 20px auto;
    background: url('/header_img5.png') no-repeat;
    background-size: contain;
    position: relative;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1vw;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}

.header-contents p {
    color: white;
    font-size: 1vw;
}

@media (max-width:1050px) {
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width:750px) {
    .header-contents {
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button {
        padding: 2vw 4vw;
    }
}