.order-table-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;

}

.order-select {
    max-width: 120px;
    padding: 10px;
    border: 1.5px solid #a9a9a9;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
}

.order-select:hover {
    background-color: #FFEBB5;
    border-color: #FDBB03;
}

/* Optional: Add an arrow to the select element */
.order-select-container {
    position: relative;
    display: inline-block;
    max-width: 120px;
}


