.list-table-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;

}

.list-btn {
    max-width: 120px;
    border: none;
    padding: 5px;
    background-color: rgb(146, 6, 6);
    color: white;
    cursor: pointer;
}